@use './abstract/mixin' as *;
@use "layout";
@use "base";
// @use "pages";
@use "component";

.container {
  margin: 0 12rem;
  @include tablet {
      margin: 5rem   ;
    }
  @include mobile {
            margin: 2rem; 
            
        }
}
