@use "funtions" as *;

// color
$text-color: #ffffff;
$background-color: #1e3446;
$p-color: #262b35;
$footer-color: #bdbdbd;
$li-hover: #ff6f28;
$outline: #e7e9eb;
$background-regis: #fafafc;
// button-color

$bgbtn-color: #f58634;
$borderbtn-color: #f58634;
$comment-background: rgba(242, 242, 242, 0.5);
$reviews-button: #f77e23;
$icon-color: none;
$blockquote-color: #120a00;
$arrow-color: #000000;
// card-color
$background-card: #fcfcfc;
$student-color: #333333;
// Responsive
$medium: 768px;
$extra-lager: 1200px;
$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);
