@use "funtions" as *;


// color
$text-color:  #FFFFFF;
$background-color: #1E3446;
$p-color: #262B35;
$span-color:#1E3446;
$b-color: #120A00;
$q-color: #120A00;
$footer-color: #BDBDBD;
$li-hover:  #FF6F28;
// button-color

$bgbtn-color: #F58634;
$borderbtn-color: #F58634;


$comment-background:rgba(242, 242, 242, 0.5);

$icon-color: none;
$blockquote-color:#120A00;
$arrow-color:  #000000;

$medium: 768px;
$extra-lager: 1200px;
$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);


