<div class="card">
    <figure class="course-layout">
        <img src="{{ img }}" alt="course's image" class="course-img" />
    </figure>
    <div class="texts ">
        <div class="course-symbol">
            <div class="symbol-left">
                <span class="course-contents">{{ content }}</span>
            </div>
            <div class="symbol-right">
                <img src="../assets/img/Course/star.png" alt="student-icon">
                <span class="course-contents">4.5</span>
            </div>           
        </div>
        <b class="course-b">30.5$</b>
        <div class="course-bottom">           
            <div class="card-student">
                <span class="content-student">6 weeks &nbsp;</span>
                <img src="../assets/img/Course/student-icon.png" alt="student-icon">
                <span class="content-student">&nbsp; 1.5k Students</span>
            </div>
            <b class="course-bmobile" >30.5$</b>
        </div >
    </div>
</div>
