<section class="exam-contain">
    <div class="container">
        <div class="exam-container">           
            <div class="exam-content">
                <h4>
                    Our online
                    <b>examination</b>
                    is top-notch
                </h4>
                <span>
                    Prepare your self for greater challenges with our online examination.
                </span>
                <include src="./components/button.html" locals='{
                                        "class" : "buttonD",
                                        "backgroundColor" : "$borderbtn-color",
                                        "color" : "$text-color",
                                        "button" : "Take a test"
                                        }'>
                </include>
            </div>
            <div class="exam-avata">
                <figure>                   
                    <div class="div-exp">
                        <div class="exam-outstand">
                            <figure>
                                <img src="../assets/img/Examination/increase.png" alt="exam avata">
                            </figure>
                            <div class="outstand-mid">
                                <b>Increase </b>
                                <img src="../assets/img/Examination/Vector 24.png" alt="exam avata">
                                Your <br>
                                Job opportunity
                            </div>
                        </div>
                    </div>
                    <img src="../assets/img/Examination/avata-exam.png" alt="exam avata" class="exam-avatabig">
                </figure>
            </div>
        </div>
    </div>
</section>  

