<section class="experts-contain">
    <div class="container">
        <div class="experts-container">
            <div class="experts-avata">
                <figure>
                    <img src="../assets/img/Experts/avatarimg.png" alt="experts avata">
                </figure>
            </div>
            <div class="experts-content">
                <h4>
                    We are <b>Experts <img src="../assets/img/Experts/Vector 27.png" alt="experts avata"></b> Learning Institution
                </h4>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit elit, bibendum volutpat platea mi,
                    adipiscing eget magna.
                    Eu nulla ut urna venenatis velit et tincidunt. Id vitae velit
                </span>
                <include src="./components/button.html" locals='{
                                        "class" : "buttonD",
                                        "backgroundColor" : "$borderbtn-color",
                                        "color" : "$text-color",
                                        "button" : "Enroll now"
                                        }'>
                </include>
            </div>
        </div>
    </div>
    
    <!-- <div class="di">
        <include src="./components/categories-list.html"  locals='{
                  "content": "live chat",
                  "value": "../assets/img/Experts/avatar.png",
                  "button": "View Course"
                  }' /></include>
    </div> -->
</section>