<section class="experts-contain">
    <div class="container">
        <div class="experts-container">
            <div class="experts-avata">
                <figure>
                    <img src="../assets/img/Experts/avatarimg.png" alt="experts avata">
                    <div class="div-exp">
                        <div class="experts-outstand">
                            <figure>
                                <img src="../assets/img/Experts/outstanding/mini.png" alt="experts avata">
                            </figure>
                            <div class="outstand-mid">
                                <b>Outsanding</b>
                                <img src="../assets/img/Experts/outstanding/Vector-outstand.png" alt="experts avata">
                                Intructors
                            </div>
                            <div class="outstand-bottom">
                                <figure>
                                    <img src="../assets/img/Experts/outstanding/outstandbot.png" alt="experts avata">
                                </figure>
                            </div>
                        </div>                   
                    </div>
                </figure>             
            </div>
            <div class="experts-content">
                <h4>
                    We are 
                    <b>Experts <img src="../assets/img/Experts/Vector 27.png" alt="experts avata" class="vector-full">
                               <img src="../assets/img/Experts/vector-mobile.png" alt="experts avata" class="vector-mobile">
                    </b>
                     Learning Institution
                </h4>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit elit, bibendum volutpat platea mi,
                    adipiscing eget magna.
                    Eu nulla ut urna venenatis velit et tincidunt. Id vitae velit
                </span>
                <include src="./components/button.html" locals='{
                                        "class" : "buttonD",
                                        "backgroundColor" : "$borderbtn-color",
                                        "color" : "$text-color",
                                        "button" : "Enroll now"
                                        }'>
                </include>
            </div>
        </div>
    </div>
</section>

