<section class="publics-contain">
  <div class="container">
    <div class="publics-container">
      <div class="publics-content">
        <h4>
          Get
          <b
            >Publicstions
            <img
              src="../assets/img/Publiction/Vector 29.png"
              alt="publicstions vector"
              class="vector-full"
            />
            <img
              src="../assets/img/Publiction/Vector 30.png"
              alt="publicstions vector"
              class="vector-mobile"
            />
          </b>
          from best Aurtors around the Globe
        </h4>
        <span>
          Lorem ipsum dolor sit at, consectetur adipielit. Facilisi fermentum,
          dignissim pharetra. pharetra. Aliquam
        </span>
        <include
          src="./components/button.html"
          locals='{
                                        "class" : "buttonD",
                                        "backgroundColor" : "$borderbtn-color",
                                        "color" : "$text-color",
                                        "button" : "Register"
                                        }'
        >
        </include>
      </div>
      <div class="publics-avata">
        <figure>
          <div class="div-exp">
            <div class="publics-outstand">
              <figure>
                <img
                  src="../assets/img/Publiction/pub-mini.png"
                  alt="publics avata"
                />
              </figure>
              <div class="outstand-mid">
                Readers <br />
                are
                <b>Leaders </b>
                <img
                  src="../assets/img/Publiction/Vector 26.png"
                  alt="publicstions vector"
                />
              </div>
            </div>
          </div>
          <img
            src="../assets/img/Publiction/Competition.png"
            alt="publics avata"
            class="publics-avatabig"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
