@use '../abstract/' as * ;
/* Heading 1 */
@font-face {
    font-family: Opensans;
    src: url(../assets/fonts/Open-Sans-37357/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Popins;
    src: url(/src/assets/fonts/poppins/Poppins-BlackItalic.otf);
}

@font-face {
    font-family: SourseSansPro;
    src: url(/src/assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

footer,h1 {

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    color: $text-color;
}
h3 {
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 32px;
    line-height: 36px;
    color: #120A00;
    margin: 20px 0;

}

span{
   
/* Regular/Normal text */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
/* identical to box height, or 150% */
/* Brand color/Secondary */

    color: $span-color;
}
p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: $p-color;
    margin: 0 10px;
}
b {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $b-color;
    margin-left: 10px;
}
q {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $q-color;
    
}

blockquote {
    //styleName: Regular/Normal text;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    // text-align: left;
    color: $blockquote-color;

}
