<header class="header">
    <include src="./components/nav.html"></include>
    <div class="main-header">
       <h1>A Classical Education for the Future</h1>
       <p>We prepare you to engage in the world that is and to help bring about a world that ought to be</p>
        <include src="./components/button.html" locals='{
                        "class" : "buttonD",
                        "backgroundColor" : "$borderbtn-color",
                        "color" : "$text-color",
                        "button" : "Get started"
                        }'></include>
    </div>
    <div class="header-bottom">
        <div class="bottom-funtion">
            <div class="bottom-group">
                <figure>
                    <img src="../assets/img/header/Live.png" alt="logo-mini">
                </figure>
                <h3>Live chat</h3> 
            </div>
            <div class="bottom-group">
                <figure>
                    <img src="../assets/img/header/Exam.png" alt="logo-mini">
                </figure>
                <h3>Examination</h3>
            </div>
            <div class="bottom-group">
                <figure>
                    <img src="../assets/img/header/Compet.png" alt="logo-mini">
                </figure>
                <h3>Competition</h3>
            </div>   
        </div>
        <figure class="bottom-arrow">
            <img src="../assets/img/header/arrowup.png" alt="logo-mini">
        </figure>
    </div>
</header>
