<main class="main">
  <div class="box">
    <include src="./components/top-categories.html"></include>
    <include src="./components/experts.html"></include>
    <include src="./components/course.html"></include>
    <include src="./components/examination.html"></include>
    <include src="./components/popular.html"></include>
    <include src="./components/register.html"></include>
    <include src="./components/competition.html"></include>
    <include src="./components/publicstions.html"></include>
    <include src="./components/recent.html"></include>
    <include src="./components/reviews.html"></include>
  </div>
</main>
